h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: block;
    margin: 0 0;
    padding: 0;
}

a {
    color: #606266;
    text-decoration: none;
    /* color: #42b983; */
}

body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    font-size: 0.875em;
}

div {
    box-sizing: border-box;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

a.el-link:hover {
    text-decoration: none;
}

.el-input {
    width: 12em;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 0.75em;
}

.el-input.el-input--suffix {
    padding: 0 0.25em;
}

.el-input__icon {
    height: 2.25em !important;
    line-height: 2.25em !important;
}

.el-input__inner {
    height: 2.25em !important;
    line-height: 2.25em !important;
}

.el-button {
    padding: 0.6em 1em;
}

.el-main {
    padding: 0;
}

.el-table td {
    padding: 0.3em 0;
}

.el-table th {
    padding: 0.6em 0;
}

.el-form-item {
    margin-bottom: 0.75em ;
}

.el-form-item.is-error{
    margin-bottom: 1.75em;
}

.el-form-item__content {
    line-height: 2em;
}
 
.el-form-item__label {
    line-height: 2em;
    margin-bottom: 0em;
}
.el-form-item__error {
    left:2em;
}

.flex-center {
    display: flex;
    flex-flow: row;
    /*主轴 不换行*/
    justify-content: center;
    /*主轴上的对齐方式 两端*/
    align-items: center;
    /*交叉轴上的对齐方式 中间*/
    align-content: center;
    /*交叉轴上（多根）的对齐方式 中间*/
}

.flex-around {
    display: flex;
    flex-flow: row nowrap;
    /*主轴 不换行*/
    justify-content: space-around;
    /*主轴上的对齐方式 两端*/
    align-items: center;
    /*交叉轴上的对齐方式 中间*/
    align-content: center;
    /*交叉轴上（多根）的对齐方式 中间*/
}

.flex-between-item {
    display: flex;
    flex-grow: 0;
    /*放大比例，默认值为0，即如果存在剩余空间，也不放大。*/
}
